@charset "UTF-8";
* {
  font-family: "cwTeXYen", "Ubuntu";
}

li {
  list-style-type: none;
}

nav, .card, #home {
  display: none;
}

.navbar {
  margin-top: 0px;
  margin-bottom: 0px;
  width: cover;
  height: 6vh;
  font-size: 4vh;
  font-size: 2vw;
  padding: 0px;
  background-color: #ff9867;
}
.navbar .navbar-nav a {
  color: #000;
}

.navbar-nav .dropdown-content {
  display: none;
}
.navbar-nav a:hover:not(.active) {
  background-color: #ff4545;
  color: #ffedb2;
  height: 50px;
}
.navbar-nav .dropdown-content_1 a {
  display: none;
}

.dropdown:hover .abc {
  background-color: #ff4545;
  color: #ffedb2;
}
.dropdown:hover a {
  background-color: #ff9867;
}
.dropdown:hover .dropdown-content {
  font-size: 1.2vw;
  display: block;
  width: 220px;
}
.dropdown:hover .dropdown-content a {
  padding: 0px;
}
.dropdown:hover .dropdown-content a:hover:not(.active) {
  background-color: #ff4545;
  color: #ffedb2;
  height: 25px;
}

.dropdown1:hover .dropdown-content_1 a {
  text-align: center;
  font-size: 1.2vw;
  display: block;
  color: #ff4545;
  font-weight: 1000;
  background-color: #ffedb2;
}
.dropdown1:hover .dropdown-content_1 a:hover {
  display: none;
}

.dropdown {
  width: 220px;
  min-width: 100px;
  z-index: 1;
}
.dropdown a {
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar-brand {
  font-size: 35px;
  color: #FFFFFF;
  background-color: #ffedb2;
  width: cover;
  height: 50px;
}
.navbar-brand img {
  height: 5.3vh;
  padding: 0px 0px 8px 0px;
}

header.jumbotron {
  max-height: 100vh;
  text-align: center;
  padding: 80px;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(http://www.ncyu.edu.tw/NewSite/images/opening.jpg);
}
header.jumbotron .pia {
  padding: 0px 0px 0px 10px;
}
header.jumbotron .flexslider {
  background-color: #d3eaea;
  height: auto;
  width: 100%;
  border: 10px solid;
  border-color: #fff;
  background-opacity: 0.3;
}
header.jumbotron .slides img {
  height: auto;
  width: 100%;
}
header.jumbotron button {
  background-color: rgba(255, 0, 0, 0);
  border: 0px solid;
}
header.jumbotron img {
  height: 7vh;
  width: cover;
}
header.jumbotron .b2 button, header.jumbotron .b4 button {
  height: 100px;
  width: 100px;
  background-size: cover;
}
header.jumbotron .b2 button {
  background-image: url(https://i.postimg.cc/mZK8fQJn/bg-06.png);
}
header.jumbotron .b4 button {
  background-image: url(https://i.postimg.cc/4nCKL488/bg-07.png);
}
header.jumbotron .b1 button, header.jumbotron .b3 button {
  height: 72px;
  width: 120px;
  background-image: url(https://i.postimg.cc/C5nBsn4B/bg-09.png);
  background-size: cover;
}
header.jumbotron h {
  font-size: 4vh;
}
header.jumbotron h2 {
  font-size: 3.5vh;
}

section#home {
  border: solid 0.1px #ffedb2;
  background-color: #ffedb2;
}
section#home .card {
  background-color: #fff;
  padding: 0px 30px 10px 30px;
}

section#section_airport {
  border: solid 0.1px #ffedb2;
  background-color: #ffedb2;
}
section#section_airport .card {
  background-color: #fff;
  padding: 0px 30px 10px 30px;
}
section#section_airport .card .p_a, section#section_airport .card h2 {
  text-align: center;
}
section#section_airport .card button {
  background-color: rgba(255, 0, 0, 0);
  border: 0px solid;
  font-size: 5vh;
  text-align: center;
}
section#section_airport .card .col-sm-12 {
  height: 75vh;
}
section#section_airport .card .col-sm-12 img {
  height: 80vh;
  width: cover;
}
section#section_airport .card .col-sm-6 button {
  padding: 0px 20px 0px 20px;
  text-align: right;
  width: 270px;
  height: 65px;
  background-color: rgba(255, 0, 0, 0);
  border: 0px solid;
  font-size: 4.5vh;
  background-image: url(https://i.postimg.cc/KYSGX3WB/bg-10.png);
  background-size: cover;
}
section#section_airport .card .goback {
  text-align: center;
}
section#section_airport .card .goback .w1 {
  width: 8vw;
  background-image: url(https://i.postimg.cc/C5nBsn4B/bg-09.png);
  background-size: cover;
  height: 60px;
  width: 100px;
}
section#section_airport .card .goback .w2 button {
  background-image: url(https://i.postimg.cc/CMRmQvPD/bg-08.png);
  background-size: cover;
  height: 100px;
  width: 100px;
}
section#section_airport .card .col-sm-3 img {
  height: 280px;
  width: cover;
}
section#section_airport p {
  font-size: 30px;
  text-align: center;
}
section#section_airport a, section#section_airport p1 {
  font-size: 3vh;
  padding: 0px 0px 0px 0px;
}
section#section_airport iframe {
  background-image: url(https://scontent.ftpe7-3.fna.fbcdn.net/v/t1.0-9/70628885_2362122664012659_3585271869286121472_o.jpg?_nc_cat=108&_nc_oc=AQmGUGHh8RBchwsxnwePZ2GHv2jlpipZhb-0XUtnZwMtRchOpFbd3uBuDR7JlNp05Yo&_nc_ht=scontent.ftpe7-3.fna&oh=d8ad35f6154c9e29f492cc1c070f5d40&oe=5E1F0C0A);
  background-size: cover;
  height: 87vh;
  width: 70vw;
}

section#section_different {
  border: solid 0.1px #ffedb2;
  text-align: center;
  background-color: #ffedb2;
}
section#section_different .card {
  background-color: #fff;
}
section#section_different iframe {
  height: 94%;
  width: 100%;
}
section#section_different a {
  font-size: 3vh;
}

section#section_introduction {
  border: solid 0.1px #ffedb2;
  background-color: #ffedb2;
}
section#section_introduction .row {
  height: 620px;
}
section#section_introduction .card {
  background-color: #fff;
  background-size: cover;
}
section#section_introduction button {
  background-color: rgba(255, 0, 0, 0);
  border: 0px solid;
  font-size: 5vh;
  text-align: center;
}
section#section_introduction .t1 .col-sm-4, section#section_introduction .t2 .col-sm-4, section#section_introduction .t3 .col-sm-4 {
  width: 30vw;
}
section#section_introduction .t1 h2, section#section_introduction .t2 h2, section#section_introduction .t3 h2 {
  text-align: center;
  font-weight: bold;
  font-size: 3.5vh;
}
section#section_introduction .t1 p, section#section_introduction .t1 p1, section#section_introduction .t2 p, section#section_introduction .t2 p1, section#section_introduction .t3 p, section#section_introduction .t3 p1 {
  font-size: 2.5vh;
}
section#section_introduction .t1 a, section#section_introduction .t2 a, section#section_introduction .t3 a {
  top: 40px;
  font-size: 300px;
}
section#section_introduction .t1 iframe, section#section_introduction .t2 iframe, section#section_introduction .t3 iframe {
  height: 65vh;
  width: 65vw;
}
section#section_introduction .t1 .col-sm-8, section#section_introduction .t2 .col-sm-8, section#section_introduction .t3 .col-sm-8 {
  text-align: center;
}
section#section_introduction .t1 .col-sm-8 img, section#section_introduction .t2 .col-sm-8 img, section#section_introduction .t3 .col-sm-8 img {
  height: 155px;
  background-size: cover;
}
section#section_introduction .t1 .w1, section#section_introduction .t2 .w1, section#section_introduction .t3 .w1 {
  background-image: url(https://i.postimg.cc/C5nBsn4B/bg-09.png);
  background-size: cover;
  height: 60px;
  width: 100px;
}
section#section_introduction .t1 .w2, section#section_introduction .t2 .w2, section#section_introduction .t3 .w2 {
  background-image: url(https://i.postimg.cc/CMRmQvPD/bg-08.png);
  background-size: cover;
  height: 100px;
  width: 100px;
}
section#section_introduction .col-sm-4 a {
  font-size: 2.5vh;
}
section#section_introduction .b {
  text-align: center;
}
section#section_introduction .d1 button {
  background-image: url(https://pic.pimg.tw/bajenny/1196849650.jpg);
  background-size: cover;
}
section#section_introduction .d2 button {
  background-image: url(https://mapio.net/images-p/44214774.jpg);
  background-size: cover;
}
section#section_introduction .d3 button {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/de/NCYU_Sinmin_Campus030906.jpg);
  background-size: cover;
}
section#section_introduction .col-sm-4 button {
  width: 32vw;
  height: 100vh;
  color: #FFFFFF;
  text-align: center;
  font-size: 60px;
  transition: all 0.5s;
  cursor: pointer;
  border: none;
}
section#section_introduction .col-sm-4 button:hover {
  opacity: 0.6;
  color: #ff4545;
  text-shadow: -1px -1px 0 #ffedb2, 1px -1px 0 #ffedb2, -1px 1px 0 #ffedb2, 1px 1px 0 #ffedb2;
}
section#section_introduction .col-sm-4 .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5;
}
section#section_introduction .col-sm-4 .button span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
section#section_introduction .col-sm-4 .button:hover span {
  padding-right: 25px;
}
section#section_introduction .col-sm-4 .button:hover span:after {
  opacity: 1;
  right: 0;
}

section#section_manual {
  border: solid 0.1px #ffedb2;
  background-color: #ffedb2;
}
section#section_manual .wa {
  height: 78vh;
  background-color: #ffedb2;
  border: solid 5px #025745;
  background-color: #000;
}
section#section_manual .wa .b1, section#section_manual .wa .b2 {
  text-align: center;
  height: 30vh;
  padding: 280px 0px 20px 0px;
}
section#section_manual .w7 {
  text-align: center;
  padding: 10px 0px 0px 0px;
}
section#section_manual .w7 img {
  width: cover;
  height: 5vh;
}
section#section_manual a {
  font-size: 3vh;
}
section#section_manual button {
  background-color: rgba(255, 0, 0, 0);
  border: 0px solid;
}
section#section_manual .b1 button {
  height: 70px;
  width: 70px;
  background-image: url(https://image.flaticon.com/icons/svg/179/179983.svg);
  background-size: cover;
}
section#section_manual .b2 button {
  height: 70px;
  width: 70px;
  background-image: url(https://image.flaticon.com/icons/svg/180/180000.svg);
  background-size: cover;
}
section#section_manual .card {
  background-color: #fff;
  padding: 20px 20px 0px 20px;
}
section#section_manual .ppt {
  width: 100%;
  height: 74vh;
  background-color: #aae5f2;
}
section#section_manual p {
  background-color: #000;
  color: #fff;
}
section#section_manual p1 {
  font-size: 10vh;
}
section#section_manual .ppt_1 {
  text-align: center;
}
section#section_manual .ppt_1 .col-sm-12 {
  height: 20vh;
}
section#section_manual .ppt_1 .pt2 img {
  width: 30vw;
  height: cover;
}
section#section_manual .ppt_1 .pt1 img {
  width: cover;
  height: 40vh;
}
section#section_manual .ppt_2 .col-sm-2 button, section#section_manual .ppt_3 .col-sm-2 button, section#section_manual .ppt_4 .col-sm-2 button, section#section_manual .ppt_5 .col-sm-2 button, section#section_manual .ppt_6 .col-sm-2 button, section#section_manual .ppt_7 .col-sm-2 button, section#section_manual .ppt_8 .col-sm-2 button, section#section_manual .ppt_9 .col-sm-2 button, section#section_manual .ppt_10 .col-sm-2 button, section#section_manual .ppt_11 .col-sm-2 button, section#section_manual .ppt_12 .col-sm-2 button, section#section_manual .ppt_13 .col-sm-2 button {
  background-image: url(https://i.postimg.cc/C5nBsn4B/bg-09.png);
  background-size: cover;
  height: 60px;
  width: 100px;
  font-size: 4.5vh;
}
section#section_manual .ppt_2 p, section#section_manual .ppt_3 p, section#section_manual .ppt_4 p, section#section_manual .ppt_5 p, section#section_manual .ppt_6 p, section#section_manual .ppt_7 p, section#section_manual .ppt_8 p, section#section_manual .ppt_9 p, section#section_manual .ppt_10 p, section#section_manual .ppt_11 p, section#section_manual .ppt_12 p, section#section_manual .ppt_13 p {
  text-align: center;
}
section#section_manual .ppt_2 .ppt, section#section_manual .ppt_3 .ppt, section#section_manual .ppt_4 .ppt, section#section_manual .ppt_5 .ppt, section#section_manual .ppt_6 .ppt, section#section_manual .ppt_7 .ppt, section#section_manual .ppt_8 .ppt, section#section_manual .ppt_9 .ppt, section#section_manual .ppt_10 .ppt, section#section_manual .ppt_11 .ppt, section#section_manual .ppt_12 .ppt, section#section_manual .ppt_13 .ppt {
  padding: 5px;
}
section#section_manual .ppt_2 p2, section#section_manual .ppt_3 p2, section#section_manual .ppt_4 p2, section#section_manual .ppt_5 p2, section#section_manual .ppt_6 p2, section#section_manual .ppt_7 p2, section#section_manual .ppt_8 p2, section#section_manual .ppt_9 p2, section#section_manual .ppt_10 p2, section#section_manual .ppt_11 p2, section#section_manual .ppt_12 p2, section#section_manual .ppt_13 p2 {
  font-size: 7vh;
}
section#section_manual .ppt_2 p3, section#section_manual .ppt_3 p3, section#section_manual .ppt_4 p3, section#section_manual .ppt_5 p3, section#section_manual .ppt_6 p3, section#section_manual .ppt_7 p3, section#section_manual .ppt_8 p3, section#section_manual .ppt_9 p3, section#section_manual .ppt_10 p3, section#section_manual .ppt_11 p3, section#section_manual .ppt_12 p3, section#section_manual .ppt_13 p3 {
  font-size: 3vh;
}
section#section_manual .ppt_3 p10, section#section_manual .ppt_4 p10, section#section_manual .ppt_5 p10 {
  font-size: 7vh;
  color: #fff;
}
section#section_manual .ppt_3 .ppt .col-sm-1, section#section_manual .ppt_4 .ppt .col-sm-1, section#section_manual .ppt_5 .ppt .col-sm-1 {
  height: 100%;
  background-color: #003D79;
}
section#section_manual .ppt_6 p10, section#section_manual .ppt_7 p10 {
  font-size: 7vh;
  color: #fff;
}
section#section_manual .ppt_6 .ppt .col-sm-1, section#section_manual .ppt_7 .ppt .col-sm-1 {
  height: 100%;
  background-color: #0066CC;
}
section#section_manual .ppt_8 img, section#section_manual .ppt_9 img, section#section_manual .ppt_10 img, section#section_manual .ppt_11 img, section#section_manual .ppt_12 img, section#section_manual .ppt_12 img {
  max-width: 60vw;
  max-height: 60vh;
}
section#section_manual .ppt_8 p10, section#section_manual .ppt_9 p10, section#section_manual .ppt_10 p10, section#section_manual .ppt_11 p10, section#section_manual .ppt_12 p10, section#section_manual .ppt_12 p10 {
  font-size: 6.5vh;
  color: #fff;
}
section#section_manual .ppt_8 .ppt .col-sm-1, section#section_manual .ppt_9 .ppt .col-sm-1, section#section_manual .ppt_10 .ppt .col-sm-1, section#section_manual .ppt_11 .ppt .col-sm-1, section#section_manual .ppt_12 .ppt .col-sm-1, section#section_manual .ppt_12 .ppt .col-sm-1 {
  height: 100%;
  background-color: #2894FF;
}
section#section_manual .ppt_11 img {
  max-width: 30vw;
  max-height: 60vh;
}
section#section_manual .ppt_13 {
  text-align: center;
}
section#section_manual .ppt_13 .ppt {
  padding: 5px;
}
section#section_manual .ppt_13 img {
  width: cover;
  height: 35vh;
}
section#section_manual .ppt_13 .o1 {
  padding: 30px 0px 0px 0px;
  background-image: url(https://i.postimg.cc/C5nBsn4B/bg-09.png);
  background-size: cover;
  height: 250px;
  width: 416px;
}
section#section_manual .ppt_13 p3 {
  font-size: 4vh;
}
section#section_manual .bat {
  text-align: center;
}
section#section_manual .bat button {
  background-image: url(https://i.postimg.cc/C5nBsn4B/bg-09.png);
  background-size: cover;
  height: 162px;
  width: 270px;
  font-size: 4vh;
}

.card {
  max-width: 95vw;
  height: 87vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9vh;
  margin-bottom: 3.5vh;
  overflow: hidden;
  box-shadow: 0px 25px 15px -10px rgba(0, 0, 0, 0.5);
}
.card a {
  font-weight: bold;
}
.card a:hover:not(.active) {
  color: #996699;
  text-decoration: underline;
}